body {
    background: rgb(118,0,236);
    background: linear-gradient(90deg, rgba(118,0,236,0.9332107843137255) 0%, rgba(0,15,144,1) 50%, rgba(118,0,236,0.93) 100%);
}
.mainBody {
    overflow-y:auto;
    display: flex;
    flex-wrap: wrap;
    margin-top: 15px;
    margin-right: 25px;
    margin-left: 15px;
    height: 95vh;
    width: 95%;
    max-width: inherit;
    background: rgb(118,0,236);
    background: linear-gradient(90deg, rgba(118,0,236,0.8435749299719888) 0%, rgba(119,49,184,0.9668242296918768) 44%, rgba(67,59,201,0.7987570028011204) 96%);
    border-radius: 8px;
}
.panel {
    margin-left: 15px;
    margin-top: 15px;
    margin-bottom: 15px;
    margin-right: 0px;
    background-color:rgba(75, 203, 212, 0.897);
    height: 95vh;
    width: 150px;
    border-radius: 16px;
}
.btnreset, .btnshow, .btnadd, .btnupdate {
    position: relative;
    background-color: lightpink;
    font-family: Arial;
    border-radius: 8px;
    color: rgb(0, 0, 0);
    margin: 15px;
    width: 100px;
    height: 35px;
}
.page {
    display: flex;
}
.respondent {
    padding-left: 4px;
    padding-top: 4px;
    height: 160px;
    width: 200px;
    margin: 10px;
    border-width: 5px;
    border-radius: 10px;
    border-color:rgb(255, 255, 255);
    border-style: solid;
    background-color: rgb(239, 248, 161);
    font-family: Georgia;
}
.btn_delete, .btn_update {
    width: 23px;
    height: 23px;
    float: right;
    margin-right: 5px;
    margin-top: 1px;
    border-radius: 3px;
}
.btn_delete {
    background-image: url("./objects/deleteimage.png");
}
.btn_update {
    background-color: blue;
}